body{
  font-family: Segoe UI,Tahoma;
  padding: 0px;
  margin: 0px;
}

abbr{
  border-bottom: 1px Dotted;
  cursor: help;
}
#loading{
  background: url('img/loader.gif') no-repeat;
}

.left{
  width: 185px;
  background-image: url(img/left_bg.jpg);
  background-repeat: repeat-y;
  background-position: 0 0;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  padding-top: 40px;
  z-index: 1;
}

.structLeft{
  background-color: #fff;
  /*border: 1px Solid #a1cfff;*/
  margin: 10px;
  list-style: none;
  padding: 5px 5px;
}



/*Header*/
.top{
  height: 40px;
  width: 100%;
  top: 0px;
  left: 0px;
/*  background-image: url(img/top_bg.jpg);
  background-repeat: repeat-x;            */
  background-color: #464646;
  color: #fff;
  position: absolute;
  z-index: 2;
}
.top a{
/*  background-color: #d0e7ff;*/
/*  border: 1px Solid #a1cfff;*/
  /*border-radius: 3px;*/
  display: inline-block;
  /*-moz-border-radius: 5px;*/
  padding: 5px 7px;
  text-decoration: none;
  color: #000;
  margin-top: 2px;
}

.top a.main{
 background-color: #D54E21;
 position: absolute;
 right: 300px;
}
.button{
  background-color: #D54E21;
  padding: 5px 7px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block; 
  margin-right: 5px;
}
.button:hover{
  background-color: #f5a421;
}
.button:active{
  background-color: #884E21;
}
.top a.main2{
  background-color: #D54E21;
  position: absolute;
  right: 400px;
}

.top a.main:hover{
  background-color: #f5a421;
}

.top a:hover{
  background-color: #fff;
}

/*User clock*/
.top #userPanel{
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
  margin-right: 3px;

}
.top #userPanel a{
  font-size: 10px;
  color: #fff;
  background: transparent;
  border: none;
  text-decoration: underline;
}
.top #userPanel img{
  width: auto;
  height: 25px;
  margin-top: 3px;
  float: left;
  margin-right: 3px;
}




#result{
  margin-left: 190px;
  margin-top: 40px;
  padding: 10px;
}
/*tmp articles*/
.art_right{
  float: right;
  width: 30%;
  background-color: #ff0990;
}

.hidden_panel_left{
  padding-left: 15px;
}
.hidden_panel_link{
  border: none;
  display: inline-block;
  width:10px;
  height: 15px;
  background: url('img/plusmin.png') no-repeat 0px 5px;
  margin-right: 5px;
  float: left;
}
/*Всплывашки*/
#adm_site_map{
  position: absolute;
  z-index: 30;
  background-color: #d0e783;
  border: 1px solid #f3a94d;
}

.clear{
  height: 5px;
  clear: both;
}
#chXajaxLoader{
  background: url('img/loader.gif') no-repeat;
  width: 100px;
  height: 34px;
  float: left;
  display: none;
}

.out{
  margin-top: 30px;
}
.right{
  float: right;
  display: block;
}
.cat{
  font-size: 0.7em;
  height: 16px;
  margin: 2px;
  background: url('img/tag_label.png') no-repeat;
  padding-left: 18px;
}
.article_edit{
  background: url('img/pencil.png') no-repeat;
  padding-left: 18px;
  font-size:0.8em;a
  clear: both;
}
.article_delete{
  background: url('img/bin.png') no-repeat;
  padding-left: 18px;
  font-size:0.8em;
  clear: both;
}
.art_article{
  margin-bottom: 20px;
}
.art_article .article_img img{
  width: 50px;
  height: auto;
  float: left;
  clear: left;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 3px;
  border: 1px solid #A1CFFF;
  
}
.art_article .editable a{
  font-size: 1.5em;
}
.art_article p{
  margin: 0px;
  padding: 0px;
}
/*forms*/
form{

}
a.submit_link{
  background-color:#66CC66;
  
  padding: 3px;
  text-decoration: none;
  color: #000;
  margin-top: 12px;
}
a.submit_link:hover{
background-color:#66ff66;
}
.form_helper{
  font-size: 0.8em;
  padding-left: 18px;
  background: transparent url('img/light_bulb.png') no-repeat;
}
fieldset{
  border: none;
}
legend{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}
label{
  width: 100px;
  text-align: right;
  margin-right: 10px;
  display: block;
  float: left;
}
input:focus{
  border: 1px solid #A1CFFF;
}
.art_right{
  float: right;
  width: 28%;
  position: relative;
  background: #A1CFFF;
  padding: 5px;
  border: 1px solid #A1CFFF;
  
}
.art_right h3{
  margin: 0px;
}
.art_right legend{
  font-size: 1em;
  margin-bottom: 0px;
  background: url('img/funnel.png') no-repeat;
  padding-left: 18px;
}
.art_right label{
  display: inline-block;
  text-align: left;
  cursor: hand;
  cursor: pointer;
}
.art_right label:hover{
  text-decoration: underline;
}
.art_right input{
  float: left;
  margin-right: 4px;
}
.art_right a{
  background-color:#D54E21;
  
  padding: 3px;
  text-decoration: none;
  color: #000;
}
.art_right a:hover{
background-color:#ffffff;
}
.left_pane_art{
  float: left;
  width: 70%;
  position: relative;
  top: 10px;
  margin-top: 10px;
}
/*tabs*/
#result{
  position: relative;
  /*margin-top: 40px;
  top: 40px;*/
  width: auto;
  width:  expression(document.body.offsetWidth  - 220 + "px")
}
#dirs{
  position: absolute;
  top: -4px;
  clear: both;
}
#dirs ul{
  margin: 0px;
}
#dirs ul li{
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
  background: #464646;
  float: left;
  list-style: none;
  height: 20px;
  line-height: 20px;
}
#dirs ul li span {
  vertical-align: bottom;
}
#dirs ul li span a{
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#dirs ul li.current{
  text-decoration: none;
}
a.articles_create_new{
  background-color:#66CC66;
  
  padding: 3px;
  text-decoration: none;
  color: #000;
  margin-top: -20px;
  margin: 20px;
}
a.articles_create_new td{
 background-color:#66CC66;
}

a.articles_create_new:hover{
  background-color:#66ff66;
}
/*loader frame for articles and user*/
#frame{
  display: none;
}
#picsSelector{
    background-color: #fff;
  
  padding: 5px;
}

#picsSelector #pics{
  background-color: #d0e783;
  
  padding: 5px;
  clear: both;
}

#picsSelector #pics img{
  height: 50px;
    
  cursor: pointer;
  cursor: hand;
  margin: 2px;
  width: auto;
}


/*eo loader freame for articles and user*/
/*.art_save*/

ul.rounded{
  list-style: none;
}
a.new_page{
  display: none;
}
a.na_berlin{
  background: transparent url('img/na_berlin.png') no-repeat;
  height: 40px;
  width: 100px;
  padding: 0px;
  text-decoration: none;
  margin: 0px;
  display: inline-block;
}
a.na_berlin:hover{
  background: transparent url('img/na_berlin.png') no-repeat;
}
a.help{
  background: transparent url('img/help.png') no-repeat;
  height: 40px;
  width: 100px;
  padding: 0px;
  text-decoration: none;
  margin: 0px;
  display: inline-block;
}
a.help:hover{
  background: transparent url('img/help.png') no-repeat;
}
/*articles*/
.invisible{
  color: #ccc;
}
.invisible a{
  color: #00AFFF;
}